body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'FiraCode';
  src: local('FiraCode'), url(./fonts/FiraCode.ttf) format('truetype');
}

html {
  scroll-behavior: smooth;
}

h1, h2 {
  font-family: 'FiraCode';
  color: #00ADB5;
  padding-top: 16px;
  padding-bottom: 16px;
}

h4, h5, h6, p {
  font-family: 'FiraCode';
  color: #EEEEEE;
}

li {
  font-family: 'FiraCode';
  color: #EEEEEE;
  padding-bottom: 16px;
}

a {
  font-family: 'FiraCode';
  text-decoration: none;
}

.navbar > .navbar-brand {
  font-family: 'FiraCode';
  font-size: 36px;
}

.navbar .navbar-toggler {
  border: none;
}

.navbar .navbar-toggler-icon {
  background-image: url("assets/menu.svg") !important;
}

.nav-link {
  font-size: 20px;
}

.nav-link:link, .nav-link:visited {
  color: #00ADB5;
}

.nav-link:hover {
  color: #EEEEEE;
}

.nav-link:active {
  color: #00ADB5;
}

.container {
  padding: 32px;
}

img {
  padding: 24px;
}

.hero-col-img {
  padding: 24px;
  display: flex;
  justify-content: center;
}

.list-group {
  padding-bottom: 24px;
}

.list-group > .list-group-item {
  background-color: transparent;
  border: transparent;
  padding: 0px;
}

div > .card {
  font-family: 'FiraCode';
  background-color: transparent;
  border: none;
  padding: 8px;
}

div > .card > img {
  padding: 0px;
  margin: 0px;
}

.btn.resume {
  font-family: 'FiraCode';
  background-color: transparent;
  border-color: #00ADB5;
}

.btn.resume:active, .btn.resume:hover, .btn.resume:link {
  background-color: transparent;
  border-color: #EEEEEE;
}

.card-body {
  color: #00ADB5;
}

.card-body > .btn {
  font-family: 'FiraCode';
  background-color: transparent;
  border-color: #00ADB5;
}

.card-body > .btn:hover {
  background-color: transparent;
  border-color: #EEEEEE;
}

.card-body > .card-text > .row {
  padding-top: 16px;
}

.skill-font {
  font-size: 14px;
  color: #758AA0;
}

.footer {
  align-content: center;
  text-align: center;
  padding: 32px;
  min-height: 0;
}

.hero-container {
  /* display: flex;
  height: 100vh; */
  justify-content: center;
  align-items: center;
}

.col {
  align-content: center;
}

.tab-pane > h6 {
  padding-top: 8px;
  color: #758AA0;
}

.tab-pane > ul {
  margin: 8px;
  padding: 16px;
}

.header-link {
  font-size: 16px;
  color: #758AA0;
}
